{% extends "base.html" %}
{% load url from future %}

{% block content %}
<ul class="nav nav-pills">
    {% for p in preums_available %}
        <li{% if hour == p %} class="active"{% endif %}><a href="{% url 'tobyweb-preums-details' tribune=tribune hour=p %}">{{ p }}</a></li>
    {% endfor %}
</ul>

<div class="row-fluid">
    <div class="span6 well">
        <h2>Dernier preums</h2>
        <p>{{ last_preums.post_time }} {{ last_preums.login }}: {{ last_preums.message }}</p>
    </div>
    <div class="span6 well">
        <h2>Statistiques</h2>
        <p>Il y a {{ nb_moules }} moules dans le classement, {{ nb_team }} équipes pour un total de {{ nb_preums }} preums.</p>
    </div>
</div>
<hr class="bs-docs-separator">

{% if item.blacklist %}
<h2>Blacklist</h2>
<ul>{% for login in blacklist %}<li>{{ login }}</li>
{% endfor %}</ul>
<hr class="bs-docs-separator">
{% endif %}

<h2>Résultats individuels</h2>
<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>Place</th><th>Moule</th><th>Nb preums</th>
        </tr>
    </thead>
    <tbody>
    {% for item in preums_list %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{% if item.get_equipe %}{{ item.login }} ({{ item.get_equipe }}){% else %}{{ item.login }}{% endif %}</td>
            <td>{{ item.score }}</td>
        </tr>
    {% empty %}
        <tr><td>Aucune entrée</td></tr>
    {% endfor %}
    </tbody>
</table>
<hr class="separator">

<h2>Résultats par équipes</h2>
<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>Place</th><th>Équipe</th><th>Nb preums</th>
        </tr>
    </thead>
    <tbody>
    {{ team_table|safe }}
    </tbody>
</table>
{% endblock %}